<p id="notice"><%= notice %></p>

<h1>Tabemonos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabemonos.each do |tabemono| %>
      <tr>
        <td><%= tabemono.name %></td>
        <td><%= tabemono.rank %></td>
        <td><%= link_to 'Show', tabemono %></td>
        <td><%= link_to 'Edit', edit_tabemono_path(tabemono) %></td>
        <td><%= link_to 'Destroy', tabemono, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tabemono', new_tabemono_path %>
