<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tabemono.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @tabemono.rank %>
</p>

<%= link_to 'Edit', edit_tabemono_path(@tabemono) %> |
<%= link_to 'Back', tabemonos_path %>
